.debug [class^="col"]{
    background-color: #006CFA;
    color: antiquewhite;
    border: 1px solid white;
    height: 2rem;
}
.green{
    background-color: #00E165;
    color: antiquewhite;
    
}
.p-02{
    padding: 0.2rem ;
}
.nested{
    height: 1.5rem;
}